# Ignore sample data

/public/store/capes
!/public/store/capes/.keep

/public/store/elytras
!/public/store/elytras/.keep

/public/store/skins
!/public/store/skins/.keep

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history
